<center>
  countTree = {{countTree|json}}
</center>

<noop-element
  class="noop-root"
  [count]="countTree"
  [limit]="{ deep: 5, button: 1, input: 1 }">
</noop-element>

<!--
<tree>

  <child></child>
  <child>
    <child>
      <div>
        <input-change
          [count]="countTree">
        </input-change>
      </div>
    </child>
  </child>

  <child>
    <child>
      <div>
        <button-click
          [count]="countTree">
        </button-click>
      </div>
    </child>
  </child>

</tree>-->
